/*
* @Author: hanli
* @Date:   2017-06-18 23:01:46
* @Last Modified by:   hanli
* @Last Modified time: 2017-06-19 00:42:13
*/
#team{
        border: black solid 1px;
        width: 200px;
        background-color: white;
}

#personal{
        border:black solid 1px;
        width: 120px;
        background-color: white;
}

section{
        border: black solid 1px;
        background-color: #cccccc;
}