/*
* @Author: hanli
* @Date:   2017-06-28 21:15:38
* @Last Modified by:   hanli
* @Last Modified time: 2017-06-28 21:47:52
*/
*{
  margin: 0;
  padding: 0;
}


.w{
  width: 892px;
  margin: 0 auto;
  min-width: 892px;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

a{
  text-decoration: none;
  font-size: 12px;
}

li{
  list-style: none;
}

