body{
	background-color:#cc2;
}


nav{
	background-color:gray;
	margin:10px;
	}
	
nav ul{
    margin:0px;
	list-style-type:none;
	padding:0px;	
	
	}	
nav ul li{
	display:inline;
	
	}	
	
h1{color:black;}